.slider {
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  align-items: center;
}
.slider label {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem;
}
.sliderRed {
  height: 2rem;
  width: 20rem;
  border: 2px solid var(--focusSetting-color);
  border-radius: 2rem;
}

.sliderRedthumb {
  background-color: var(--focusSetting-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
}

.sliderGreen {
  height: 2rem;
  width: 20rem;
  border: 2px solid var(--breakSetting-color);
  border-radius: 20px;
}
.sliderGreenThumb {
  background-color: var(--breakSetting-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
}

@media (max-width: 576px) {
  .slider{
    padding: 0.5rem 1rem 2rem 1rem;
  }
  .sliderRed{
    width: 17.5rem;
  }
  .sliderGreen{
    width: 17.5rem;
  }
}
