.form {
  background-color: #f4f2de;
  width: 18.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1rem ;
  color: var(--text-color);
  border-radius: 15%;
}

.form label {
  font-weight: bold;
}
.form div button {
  color: var(--text-color);
  font-size: 120%;
  font-family: sans-serif;
  cursor: pointer;
  margin: 0 2rem;
  flex-direction: row;
  box-shadow: 1px 1px #666;
  border: navajowhite;
}

.form div button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.form section {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: 100%;
}

.startButtonStyle {
  flex-shrink: 0;
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--time-border-color);
  cursor: pointer;
  margin-left: 3rem;
  width: 12rem;
  padding: 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 15%;
  box-shadow: 0 6px #cecaca;
}

.startButtonStyle:active {
  box-shadow: 0 5px #969595;
  transform: translateY(4px);
}

.switchButton {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  animation: fadeIn 1s ease-in-out forwards;
}

.switchButton:hover{
  color: #3b4b86;
}

.clock {
  font-size: 650%;
  font: bold;
  margin: 0.5rem;
}

@media (max-width: 576px) {
  .form {
    width: 17.5rem;
  }
  .startButtonStyle {
    margin-left: 2.5rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
