:root {
  --header-color: #113946;
  --icons-color: #f4e0b9;
  --icons-active-color: #d89f6e;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--header-color);
}
.header div {
  display: none;
}

section {
  justify-content: space-between;
}

.logo {
  margin-left: 1rem;
  font-size: 2.5rem;
  color: var(--icons-color);
  cursor: context-menu;
  font-family: "roboto", sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav ul {
  display: flex;
}

.nav li {
  display: flex;
  margin: 0 1.5rem;
  font-family: "roboto", sans-serif;
  align-items: center;
  font-size: 1.5rem;
  color: var(--icons-color);
}

.nav li:hover {
  color: var(--icons-active-color);
}

.nav li button {
  background: transparent;
  border: none;
  color: var(--icons-color);
  cursor: pointer;
  font-size: 1.5rem;
}

.nav li button:hover {
  color: var(--icons-active-color);
}

.nav a {
  display: flex;
  text-decoration: none;
  color: var(--icons-color);
}

.nav a:hover,
.nav a.active {
  color: var(--icons-active-color);
}

.mobileHeader {
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
}

.mobileHeader section {
  display: flex;
  align-items: center;
}

.mobileHeader div {
  margin-right: 1.2rem;
}

.mobileNav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileNav ul {
  display: flex;
  padding: 0;
  margin: 0.5rem 0;
  justify-content: center;
  text-align: center;
}
.mobileNav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.5rem;
  font-size: 1.1rem;
  color: var(--icons-color);
}
.mobileNav li:hover {
  color: var(--icons-active-color);
}
.mobileNav li button {
  background: transparent;
  border: none;
  color: var(--icons-color);
  font-size: 1.1rem;
  cursor: pointer;
}

.mobileNav li button:hover {
  color: var(--icons-active-color);
}
.mobileNav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--icons-color);
}
.mobileNav a:hover,
.mobileNav a.active {
  color: var(--icons-active-color);
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
  .header {
    display: block;
  }
  .header section {
    display: flex;
    align-items: center;
  }
  .header div {
    display: block;
    margin-right: 1.2rem;
  }

}
@media (max-width: 576px) {
  .logo {
    font-size: 2rem;
  }
  .mobileNav li{
    margin: 0 0.5rem;
  }
}
