:root{
  --main-color: #f4f2de;
  --items-color: #f4e0b9;
  --border-color: #ad8989;
  --text-color: #071952;
  --focusSetting-color: #860A35;
  --breakSetting-color: #5C8374;
}
.main {
  background-color: var( --main-color);
  min-height: 100vh;
  padding: 1rem 0;
}

@media (max-width: 576px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 120%;
  }
}


