.item {
  width: 20rem;
  border: 2px solid var(--time-border-color);
  border-radius: 3%;
  cursor: pointer;
  user-select: none;
}
.item div {
  position: relative;
  justify-content: space-between;
  cursor: pointer;
}
.item div div {
  min-height: 5rem;
  min-width: 3.5rem;
  border-radius: 5%;
}
.item div div:active {
  box-shadow: 2px 2px #666;
  transform: translateY(1px);
}
.itemDragging {
  box-shadow: var(--mantine-shadow-sm);
}
.checkBox {
  margin: 2rem 1rem 2rem 1rem;
  height: 2rem;
  transform: scale(2);
  accent-color: #252b48;
  cursor: pointer;
}

.dragHandle {
  display: flex;
  font-weight: 700;
  color: var(--text-color);
}
