.button {
  width: 12.5rem;
  height: 5.625rem;
  margin-top: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 24%;
  background-color: var(--items-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .button {
    width: 15rem;
  }
}

@media (max-width: 576px) {
  .button {
    width: 18rem;
    font-size: 105%;
  }
}
